.AI_ML_Page {
    font-size: 16px;
    padding: 0;

    .cover-page {
        h1 {
            padding-left: 255px;
        }

    }

    .nav-path {
        padding-top: 53px;
    }

    .light-color {
        color: #9747FF;
    }

    .dark-color {
        color: #4C02A9;
    }

    .m-l {
        margin-left: 255px;
    }

    .m-r {
        margin-right: 141px;
    }

    .m-t {
        margin-top: 50px;
    }

    .m-b {
        margin-bottom: 128px;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        gap: calc(var(--main-p-x) * 1.5);
        align-items: flex-start;

        pre {
            color: #000000;
        }
    }

    .short-info {
        margin-top: 70px;
    }

    .feature-points {
        margin-top: 40px;
        margin-bottom: 107px;
        display: flex;
        flex-direction: column;
        gap: 96px;

        .card {
            .text-48 {
                margin-bottom: 36px;
            }

            .description {
                padding-left: 77px;
                border-left: 4px dashed #9747FF;
                display: flex;
                flex-direction: column;
                gap: 42px;
            }
        }
    }

    .hero-image {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        img {
            grid-column: 1 /-1;
            grid-row: 1 /-1;
            height: auto;
            filter: brightness(.8);
            max-height: 600px;
        }

        .overlay-text {
            position: relative;
            z-index: 4;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 210px;
            grid-column: 1 /-1;
            grid-row: 1 /-1;
            color: #fff;
        }
    }


    .Big_Image_Card {
        --info-card-margin-y: 180px;
        --card-padding-y: 120px;
        --card-padding-left: 142px;
        --card-margin-right: 92px;
        --title-margin-top: var(--card-padding-y);
        --title-margin-left: 133px;
        --title-margin-right: 250px;

        position: relative;
        display: flex;
        align-items: center;


        img {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            height: 100%;
            width: 60%;
            z-index: -1;
        }

        .info {
            display: flex;
            align-items: flex-start;
            margin: var(--info-card-margin-y) 0;

            .title {
                margin-top: var(--title-margin-top);
                margin-left: var(--title-margin-left);
                margin-right: var(--title-margin-right);
                color: #fff;
            }

            .card {
                flex-grow: 1;
                flex-basis: 60%;
                margin-right: var(--card-margin-right);
                background-color: #fff;
                padding-left: var(--card-padding-left);
                padding-top: var(--card-padding-y);
                padding-bottom: var(--card-padding-y);
            }
        }
    }
}




@media screen and (min-width: 1450px) {
    .AI_ML_Page {
        font-size: 16px;

        --m-l: 255px;
        --m-r: 141px;

        .m-l {
            margin-left: 255px;
        }

        .m-r {
            margin-right: 141px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .AI_ML_Page {
        font-size: 14px;

        --m-l: 170px;
        --m-r: 70px;

        .cover-page h1 {
            padding-left: var(--m-l);
        }

        .m-l {
            margin-left: 170px;
        }

        .m-r {
            margin-right: 70px;
        }

        .Big_Image_Card {
            --info-card-margin-y: calc(180px - 40px);
            --card-padding-y: calc(120px - 40px);
            --card-padding-left: calc(142px - 40px);
            --card-margin-right: calc(92px - 40px);
            --title-margin-top: var(--card-padding-y);
            --title-margin-left: calc(133px - 80px);
            --title-margin-right: 50px;
        }
    }
}


@media screen and (max-width: 1240px) {
    .AI_ML_Page {
        font-size: 12px;
        --m-l: 80px;
        --m-r: 50px;

        .m-l {
            margin-left: 120px;
        }

        .m-r {
            margin-right: 50px;
        }
    }
}


@media screen and (max-width: 968px) {
    .AI_ML_Page {
        --m-l: 90px;
        --m-r: 30px;

        .m-l {
            margin-left: 90px;
        }

        .m-r {
            margin-right: 30px;
        }

        .feature-points {
            .description {
                padding: 0 40px;
                padding-left: 40px;
            }
        }

        .Big_Image_Card {
            --info-card-margin-y: calc(180px - 80px);
            --card-padding-y: calc(120px - 80px);
            --card-padding-left: calc(142px - 100px);
            --card-margin-right: calc(92px - 80px);
            --title-margin-top: var(--card-padding-y);
            --title-margin-left: calc(133px - 80px);
            --title-margin-right: 50px;

            .title {
                width: 320px;
                flex-basis: 320px;
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .AI_ML_Page {
        font-size: 10px;
        --m-l: 40px;
        --m-r: 40px;

        .m-l {
            margin-left: 40px;
        }

        .m-r {
            margin-right: 40px;
        }

        .section-2 {
            margin-bottom: 60px;
        }


        .Big_Image_Card {
            --info-card-margin-y: calc(180px - 80px);
            --card-padding-y: calc(120px - 80px);
            --card-padding-left: calc(142px - 100px);
            --card-margin-right: calc(92px - 80px);
            --title-margin-top: var(--card-padding-y);
            --title-margin-left: calc(133px - 80px);
            --title-margin-right: 50px;

            img {
                width: 100%;
            }

            .info {
                flex-direction: column;
                gap: 40px;

                .title {
                    width: unset;
                    margin: 0 40px;
                    flex-basis: unset;
                }

                .card {
                    width: 100%;
                    margin: 0;
                    padding: 40px;
                }
            }
        }

        .feature-points {
            margin-bottom: 60px;
            margin-top: 60px;
            gap: 50px;

            .card {
                .text-48 {
                    margin-bottom: 30px;
                }

                .description {
                    padding: 0 40px;
                    gap: 24px;
                }
            }
        }
    }
}