.Landing_Page {
    font-size: 14px;
    padding: 0;
    --theme-color: #4C02A9;
    --theme-color-menu: #8c4ce0;
    --main-p-x: 50px;
    --know-btn-text-color: #fff;
    --know-btn-text-hover-color: #fff;

    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        background-image: linear-gradient(to bottom, #2D045A, #453D95);
        align-items: end;
        height: calc(100vh - var(--header-h));
        min-height: 700px;

        img {
            object-fit: contain;
            // height: calc(100vh - var(--header-h));
            height: auto;
        }

        .overlay {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 80%;
            justify-content: center;
            color: #fff;
            height: 100%;

            .flex {
                display: flex;
                column-gap: 3rem;
                row-gap: 20px;
                align-items: center;
                // justify-content: space-between;

                .service {
                    font-size: 24px;
                    padding: 8px 20px;
                    white-space: nowrap;
                    border-radius: 6px;
                    color: #453D95;
                    border: transparent;
                    outline: transparent;
                    background-color: #fff;
                    transition: color .3s ease-in-out, background-color .3s ease-in-out;

                    &:hover {
                        color: #fff;
                        background-color: #453D95;

                        &.black {
                            color: #453D95;
                            background-color: #030303;
                        }
                    }

                }

                .link {
                    color: #fff;
                    text-decoration: underline;
                    font-size: 24px;
                    white-space: nowrap;
                    padding: 8px 0px;
                }
            }

        }
    }

    .knowBtn {
        padding: 0.625em 1.875em;
        background-color: var(--theme-color);
        border-radius: 5px;
        font-size: 16px;
        border: none;
        font-family: inherit;
        transition: background-color 0.3s ease-in-out;
        white-space: nowrap;

        a {
            color: black;
            text-decoration: none;
            white-space: nowrap;
            transition: color 0.3s ease-in-out;
        }

        &.purple {
            background-color: var(--theme-color);
            color: var(--know-btn-text-color);

            a {
                color: var(--know-btn-text-color);
            }
        }

        &:hover {
            background-color: #000000;
            color: var(--know-btn-text-hover-color);

            a {
                color: var(--know-btn-text-hover-color);
            }
        }

        &:has(a) {
            padding: 0;

            a {
                display: block;
                padding: 0.625em 1.875em;

            }
        }
    }

    .section {
        &.centered {
            margin: 0 calc(var(--main-p-x) * 4);
            margin-top: 50px;
            margin-bottom: 100px;

            .flex {
                padding-bottom: 30px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                overflow-x: auto;
                border-bottom: 1px solid #B3AFAF;
            }

            img {
                object-fit: contain;
                margin: 0 1rem;
            }
        }
    }

    .section-2 {
        padding: calc(var(--main-p-x) * 1) calc(var(--main-p-x) * 4);
        display: flex;
        flex-direction: column;
        gap: 4em;
        align-items: flex-start;

        pre {
            color: #000000;
        }

        h2 {
            font-size: 3.1vmax;
        }

        .text-28 {
            font-size: 1.1vmax;
        }

        button {
            margin-top: 1rem;
            box-shadow: 0px 0px 23.6px 4px rgba($color: #000000, $alpha: .25);

            a {
                padding: 1.5em 6em;
            }
        }
    }

    .section-3 {
        padding: calc(var(--main-p-x) * 1) calc(var(--main-p-x) * 4);
        border-top: 1px solid #B3AFAF;

        .flex {
            overflow-x: auto;
            display: flex;
            gap: 3rem;
            align-items: center;
            padding: 30px 0;

            &::-webkit-scrollbar {
                width: 12px;
                height: 12px;
            }

            &::-webkit-scrollbar-track {
                background: #ffffff00;
            }

            &::-webkit-scrollbar-thumb {
                background: #ffffff00;
                border-radius: 6px;
                /* Rounded corners for the thumb */
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #ffffff00;
            }
        }

        img {
            object-fit: contain;
        }
    }

    .cards-section {
        margin-bottom: 100px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            background: #ffffff00;
        }

        &::-webkit-scrollbar-thumb {
            background: #ffffff00;
            border-radius: 6px;
            /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #ffffff00;
        }

        .card {
            font-size: 10px;
            min-height: 60vh;
            min-width: 500px;
            flex-grow: 1;
            flex-basis: 44.3%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: var(--col-gap);
            justify-content: space-between;
            position: relative;



            img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                // transition: scale .3s ease-in-out;
            }

            .text-60 {
                margin-bottom: 30px;
            }

            pre {
                line-height: 32px;
            }

            .text-container {
                position: relative;
                z-index: 4;
                color: #fff;
                width: 100%;
                height: 100%;
                gap: var(--col-gap);
                padding: 3rem 1rem;
                transition: background-color .3s ease-in-out;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                padding-left: 40px;

                button {
                    // margin-top: 1rem;
                    color: #000;
                    transition: background-color .3s ease-in-out;
                    background: #C99FFF !important;
                    width: max-content;

                    a {
                        padding: .525em 1.625em;
                    }

                }
            }

            &:hover {
                .text-container {
                    background-color: #4d02a9d8;

                    button {
                        background-color: #FFFFFF !important;
                        color: #000 !important;

                        a {
                            background-color: #FFFFFF !important;
                            color: #000 !important;
                        }
                    }
                }
            }
        }
    }

    .Big-container {
        margin: 40px 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;

        .left {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 80%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .right {
            margin: 147px 0;
            width: 60%;
            max-width: 860px;
            margin-right: 100px;

            .all {
                box-shadow: 7px 0px 5px 0px #9E9E9E;
                background-color: #fff;
            }

            .text-wrapper {
                padding: 4em;
                height: max-content;
                background-color: #fff;

                p {
                    margin-top: 2em;
                }
            }

            button {
                border-radius: 0px;
                width: 100%;
                margin-top: var(--col-gap);

                a {
                    color: #fff;
                    border-top: 1px solid transparent;
                }

                &:hover {
                    background: #fff;

                    a {
                        border-top: 1px solid #030303;
                        color: #000;
                    }
                }
            }

            .card {
                position: relative;
                z-index: 4;
                background-color: #fff;

            }
        }

        // .card {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: stretch;
        //     position: relative;
        //     height: 80%;
        //     gap: var(--col-gap);
        //     color: black;

        //   
        // }
    }

}


@media screen and (min-width:1441px) {
    .Landing_Page {
        font-size: 16px;

        .centered {
            margin-right: 166px;
            margin-left: 225px;
            margin-bottom: 130px;
        }

        .section-2 {
            margin-top: 0;
            padding: 0;
            margin-bottom: 175px;
            margin-left: 225px;
            margin-right: 166px;
        }

        .section-3 {
            padding: 0;
            margin-left: 225px;
            margin-top: 0;
            margin-bottom: 104px;
        }

        .Big-container {
            min-height: unset;

            .left {
                height: 1242px;
                width: 1148px;

                img {
                    max-height: 100%;
                    // max-height: unset;
                }
            }

            .right {
                .card {
                    margin: 147px 0;
                    height: 100%;

                }
            }
        }
    }
}

@media screen and (max-width:1440px) {
    .Landing_Page {

        .hero-section .overlay {
            margin-top: 4rem;

            .text-60 {
                font-size: 38px;
            }
        }

        .Big-container {
            margin-right: 70px;

            .right {
                margin-right: 10px;
            }
        }
    }

}


@media screen and (max-width:1024px) {
    .Landing_Page {
        font-size: 14px;

        .hero-section {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            height: auto;

            .overlay {
                margin-top: 4rem;

                .flex {
                    flex-wrap: wrap;

                    button {
                        font-size: 12px;
                    }
                }
            }
        }

        .section.centered {
            margin-left: 100px;
            margin-right: 47px;
        }

        .section-2,
        .section-3 {
            margin-left: 100px;
            margin-right: 47px;
            padding: 0 0;
        }

        .section-2 {
            row-gap: 1rem;
            margin-bottom: 80px;
            font-size: 10px;

            .text-60 {
                font-size: var(--text-60);
            }

            .text-28 {
                font-size: var(--text-28);
            }

            button a {
                padding: 1em 2em;
            }
        }

        .section-3 {
            margin-top: 40px;
            margin-bottom: 80px;
        }

        .cards-section .card {
            min-width: 340px;
        }

        .Big-container {
            margin: 40px 50px;

            .right {
                margin-right: 30px;
                width: 80%;
            }
        }
    }

}

@media screen and (max-width:850px) {
    .Landing_Page {
        font-size: 12px;

        .section.centered {
            margin-left: 70px;
            margin-right: 37px;
        }

        .knowBtn {
            font-size: 12px;
        }

        .section-2,
        .section-3 {
            margin-left: 70px;
            margin-right: 37px;
            padding: 0 0;
        }

        .section-2 {
            row-gap: 1rem;
            margin-bottom: 80px;

            .text-60 {
                font-size: var(--text-60);
            }

            .text-28 {
                font-size: var(--text-28);
            }
        }

        .section-3 {
            margin-top: 40px;
            margin-bottom: 80px;
        }

        .Big-container {
            margin: 40px 40px;

            .right {
                margin-right: 0;
                width: 55%;
            }
        }


    }
}


@media screen and (max-width:550px) {
    .Landing_Page {
        font-size: 10px;

        .hero-section {
            font-size: 6px;

            .overlay .flex {
                a.link {
                    font-size: 14px;

                }

                button.service {
                    font-size: 14px;

                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        .section.centered {
            margin-left: 20px;
            margin-right: 20px;
        }

        .section-2,
        .section-3 {
            margin-left: 20px;
            margin-right: 20px;
            padding: 0 0;
        }

        .cards-section {

            .card {
                width: 270px;
                font-size: 8px;
                min-width: 270px;
            }
        }

        .section-2 {
            row-gap: 1rem;
            margin-bottom: 60px;
        }

        .section-3 {
            margin-top: 30px;
            margin-bottom: 60px;
        }

        .Big-container {
            display: block;
            margin: 20px;

            .left {
                width: 100%;
                position: relative;
            }

            .right {
                width: 100%;
                margin: 0;
                padding: 0;

                .all {

                    box-shadow: none;
                }

                .text-wrapper {
                    padding: 0;
                    margin-top: 20px;

                    p {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .Landing_Page {
        font-size: 6px;

        .hero-section {
            font-size: 6px;
            min-height: unset;
            justify-content: flex-start;

            .overlay {
                .flex {
                    column-gap: 2rem;
                }

                .text-60 {
                    font-size: 24px;

                }
            }
        }
    }
}