.Details {
    padding: 0;
    --big-container-p-x: 255px;
    font-size: 16px;

    .cover-page {
        h1 {
            padding-left: var(--big-container-p-x);
        }

    }

    .nav-path {
        padding-top: 53px;
    }

    .light-color {
        color: #9747FF;
    }

    .m-l {
        margin-left: 255px;
    }

    .m-r {
        margin-right: 126px;
    }

    .dark-color {
        color: #4C02A9;
    }

    .flex-2 {
        // padding: 117px 126px 157px 255px;
        padding: 7.3125em 7.875em 9.8125em 15.9375em;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 93px;
    }

    .bt {
        padding-top: 100px;
        margin-top: 50px;
        border-top: 1px solid #B3AFAF;
    }


    .Big-container {
        margin: 100px 0;
        margin-bottom: 168px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left {
            position: relative;
            // width: 867px;
            // height: 906px;

            img {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                z-index: 2;
                width: 100%;
            }

            .heading {
                margin-top: calc(100px + 8rem);
                margin-left: 133px;
                position: relative;
                z-index: 3;
                height: max-content;
                padding-bottom: 30px;
                width: 587px;
                color: #fff;
                border-bottom: 2px dashed #FFDD2C;
            }
        }

        .right {
            margin: 100px 0;
            min-height: calc(100vh - 160px);

            .card {
                background-color: #fff;
                position: relative;
                height: 100%;
                z-index: 4;
                padding: 144px;
                // width: 860px;
                // height: 560px;
                display: flex;
                align-items: center;
                transform: translateX(-165px);
            }
        }

    }

    .feature-points {
        margin: 0px 255px;
        padding: 0px 77px;
        border-left: 4px dashed #9747FF;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 128px;
    }

    .collab {
        background-color: #501D92;
        height: 600px;

        .card {
            margin-left: var(--big-container-p-x);
            padding: 106px 11px 100px 60px;
            height: 624px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 700px;
            gap: 24px;
        }
    }

    .upcoming {
        margin: 100px 255px;
        margin-right: 127px;
        display: flex;
        gap: 60px;

        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                margin-bottom: 60px;
            }

            p {
                margin-bottom: 42px;
            }
        }

        button {
            color: #fff;
            width: max-content;
            font-weight: 400;
            font-size: 28px;

            a {
                font-size: 28px;

                font-weight: 300;
                color: #fff;
            }
        }
    }

    .m-t {
        margin-top: 3rem;
    }

    .m-b {
        margin-bottom: 128px;

    }

}


@media screen and (max-width: 1440px) {
    .Details {
        font-size: 12px;
        --m-l: 170px;
        --m-r: 70px;

        .cover-page h1 {
            padding-left: var(--m-l);
        }

        .m-l {
            margin-left: 170px;
        }

        .m-r {
            margin-right: 70px;
        }

        .flex-2 {
            margin: 0;
            padding: 70px 70px 0px 170px;
        }

        .Big-container {
            .left .heading {
                margin-right: var(--m-r);
                width: 300px;
            }

            .right .card {
                padding: 60px 100px;
            }
        }

        .collab {
            height: auto;

            .card {
                margin-left: var(--m-l);
                height: auto;
            }
        }

        .upcoming {
            margin-left: var(--m-l);
            margin-right: var(--m-r);
            margin-top: 100px;

            button a {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    .Details {
        font-size: 12px;
        --m-l: 120px;
        --m-r: 50px;

        .m-l {
            margin-left: 120px;
        }

        .m-r {
            margin-right: 50px;
        }

        .flex-2 {
            margin: 0;
            padding: 70px var(--m-r) 0px var(--m-l);
        }

        .Big-container {
            .left .heading {
                margin-left: calc(var(--m-l) - 30px);
                margin-right: var(--m-r);
                width: 300px;
            }

            .right .card {
                padding: 40px 70px;
                transform: translateX(-100px);
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .Details {
        font-size: 11px;
        --m-l: 90px;
        --m-r: 30px;

        .m-l {
            margin-left: 90px;
        }

        .m-r {
            margin-right: 30px;
        }

        .flex-2 {
            margin: 0;
            padding: 70px var(--m-r) 0px var(--m-l);
        }

        .Big-container {

            .left .heading {
                margin-left: calc(var(--m-l) - 30px);
                margin-right: var(--m-r);
                margin-top: 100px;
                margin-bottom: 100px;
                width: 300px;
            }

            .right {
                overflow: visible;
                margin: 70px 0;
                min-height: auto;
                position: relative;

                .card {
                    position: relative;
                    background-color: #fff;
                    min-width: unset;
                    width: 100%;
                    margin: 0;
                    padding: 40px 70px;
                    z-index: 4;
                }
            }
        }

        .collab .card {
            width: 70%;
            margin-right: var(--m-r);
        }

        .upcoming {
            flex-wrap: wrap;


            .left,
            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
            }

            .right {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 700px),
(min-width: 690px) {
    .Details {
        .Big-container {
            font-size: 10px;

            .left .heading {
                margin-left: calc(var(--m-l) - 40px);
            }
        }
    }
}

@media screen and (max-width: 690px) {
    .Details {
        font-size: 10px;
        --m-l: 40px;
        --m-r: 40px;

        .m-l {
            margin-left: 40px;
        }

        .m-r {
            margin-right: 40px;
        }

        .flex-2 {
            display: block;
            margin-top: 40px;
            padding: inherit;

            p {
                margin-top: 30px;
            }
        }

        .feature-points {
            padding: 0 40px;
        }

        .Big-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .left .heading {
                margin: 0;
                padding: 100px;
                padding-left: var(--m-l);
                width: 100%;
                border-color: transparent;
            }

            .right {
                margin: 0;
                position: relative;
                padding: 0;
                min-height: auto;
                position: relative;

                .card {
                    margin: 0;
                    position: relative;
                    background-color: #fff;
                    width: 100%;
                    margin: 0;
                    padding: 40px 70px;
                    z-index: 4;
                    transform: translate(0px, 0px);
                }
            }
        }

        .upcoming {
            gap: 30px;

            .right {

                h3,
                p {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .Details {
        font-size: 8px;
        --m-l: 20px;
        --m-r: 20px;

        .m-l {
            margin-left: 20px;
        }

        .m-r {
            margin-right: 20px;
        }

        .Big-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .left .heading {
                margin: 0;
                padding: 100px;
                padding-left: var(--m-l);
                width: 100%;
                border-color: transparent;
            }

            .right {
                margin: 0;
                position: relative;
                padding: 0;
                min-height: auto;
                position: relative;

                .card {
                    margin: 0;
                    position: relative;
                    background-color: #fff;
                    width: 100%;
                    margin: 0;
                    padding: 40px 70px;
                    z-index: 4;
                    transform: translate(0px, 0px);
                }
            }
        }

        .upcoming {
            gap: 30px;

            .right {

                h3,
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}