.Clients_Page {
    font-size: 16px;
    padding: 0;
    --m-l: 255px;
    --m-r: 141px;

    .cover-page {
        h1 {
            padding-left: 255px;
        }

    }

    .nav-path {
        padding-top: 53px;
    }

    .light-color {
        color: #9747FF;
    }

    .dark-color {
        color: #4C02A9;
    }

    .m-l {
        margin-left: 255px;
    }

    .m-r {
        margin-right: 141px;
    }

    .m-t {
        margin-top: 50px;
    }

    .m-b {
        margin-bottom: 128px;
    }

    .section-2 {
        .text-600 {
            margin-bottom: 70px;
        }

        pre {
            color: #000000;
        }
    }

    .section-3 {
        padding: 40px 0;
        padding-left: var(--m-l);
        padding-right: var(--m-r);
        border-top: 1px solid #B3AFAF;
        border-bottom: 1px solid #B3AFAF;

        .flex {
            overflow-x: auto;
            display: flex;
            gap: 3rem;
            align-items: center;
            padding: 30px 0;

            &::-webkit-scrollbar {
                width: 12px;
                height: 12px;
            }

            &::-webkit-scrollbar-track {
                background: #ffffff00;
            }

            &::-webkit-scrollbar-thumb {
                background: #ffffff00;
                border-radius: 6px;
                /* Rounded corners for the thumb */
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #ffffff00;
            }
        }

        img {
            object-fit: contain;
        }
    }

    .section-4 {
        margin-top: 60px;
        padding: 40px 0;

        .text-28 {
            margin-top: 30px;
        }
    }

    .FAQ {
        display: flex;
        flex-direction: column;
        gap: calc(var(--col-gap) * 3);
        padding-top: 40px;
        padding-bottom: 100px;
        padding-left: var(--m-l);
        padding-right: var(--m-r);

        h2 {
            text-align: center;
        }

        .wrapper {
            &:nth-of-type(even) summary {
                background-color: #4C02A9;
            }

            &:nth-of-type(odd) summary {
                background-color: #9747FF;
            }
        }

        details {
            cursor: pointer;

            .content {
                background-color: #D9D9D9;
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows .5s ease-in-out;

                >div {
                    overflow: hidden;
                }
            }

            summary {
                background-color: #D9D9D9;
                padding: 40px 45px;
                border-bottom: 2px solid transparent;
                display: flex;
                align-items: center;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: #c2c2c2;
                }

                .title {
                    position: relative;
                    width: max-content;
                    color: #fff;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        right: -2rem;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 2px;
                        width: 15px;
                        background-color: #fff;
                    }

                    &::after {
                        transform-origin: center;
                        transform: translate(0px, 0px) rotate(90deg);
                        transition: transform .2s ease-out, opacity .2s ease-out;
                    }
                }
            }



            summary::marker {
                display: none;
                font-size: 0px;
            }

            &[open] {
                summary {
                    border-bottom: 2px solid #969696;
                    background-color: #c2c2c2;

                    .title::after {
                        transform: translate(0px, 20px) rotate(90deg);
                        opacity: 0;
                    }
                }

                .content {
                    animation: scaleUp .5s .2s both;
                    padding: 40px 45px;
                }

                @keyframes scaleUp {
                    100% {
                        grid-template-rows: 1fr;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1450px) {
    .Clients_Page {
        font-size: 16px;

        --m-l: 255px;
        --m-r: 141px;

        .m-l {
            margin-left: 255px;
        }

        .m-r {
            margin-right: 141px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .Clients_Page {
        font-size: 14px;

        --m-l: 170px;
        --m-r: 70px;

        .cover-page h1 {
            padding-left: var(--m-l);
        }

        .m-l {
            margin-left: 170px;
        }

        .m-r {
            margin-right: 70px;
        }
    }
}


@media screen and (max-width: 1240px) {
    .Clients_Page {
        font-size: 12px;
        --m-l: 80px;
        --m-r: 50px;

        .m-l {
            margin-left: 120px;
        }

        .m-r {
            margin-right: 50px;
        }
    }
}


@media screen and (max-width: 968px) {
    .Clients_Page {
        --m-l: 90px;
        --m-r: 30px;

        .m-l {
            margin-left: 90px;
        }

        .m-r {
            margin-right: 30px;
        }
    }
}


@media screen and (max-width: 700px) {
    .Clients_Page {
        font-size: 10px;
        --m-l: 40px;
        --m-r: 40px;

        .m-l {
            margin-left: 40px;
        }

        .m-r {
            margin-right: 40px;
        }

        .section-2 {
            margin-bottom: 60px;
        }
    }
}

@media screen and (max-width: 500px) {
    .Clients_Page {
        font-size: 8px;
        --m-l: 20px;
        --m-r: 20px;

        .cover-page {
            position: relative;

            .text-60 {
                width: 100%;
                position: absolute;
                top: 50%;
                backdrop-filter: blur(4px);
                text-align: center;
                padding: 20px;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
            }
        }

        .m-l {
            margin-left: 20px;
        }

        .m-r {
            margin-right: 20px;
        }
    }
}