.footer {
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
    justify-content: space-evenly;
    grid-auto-flow: dense row;
    padding: 4rem 1rem;
    gap: 2rem;
    --link-color: #E2E2E2;
    --bg-color: #000;
    background-color: var(--bg-color);
    color: var(--link-color);
    background-image: linear-gradient(135deg, #030303 50%, #501D92);

    .logo-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;

        .highlight {
            color: #ffbb05;
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        h1 {
            font-size: var(--text-60);
        }

        p {
            font-size: .8em;
            font-weight: 600;
        }

        a:nth-of-type(1) {
            font-weight: 700;
        }

        a {
            font-size: 18px;
            color: var(--link-color);
            text-decoration: none;
            font-weight: 400;
            transition: text-decoration .3s ease-in-out;

            &:not(a:nth-of-type(1)) {
                margin-top: 5px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        a {
            width: max-content;
        }

        &.social {
            grid-column-end: -1;
            gap: 1em;

            .list {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;

            }

            a {
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #eee;
                height: 42px;
                width: 42px;
                border-radius: 50%;
                transition: background-color .2s ease-in-out;

                &:hover {
                    background-color: #aaaaaa;
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .footer {
        font-size: 9px;
        row-gap: 4em;
        display: flex;
        flex-wrap: wrap;

        >div {
            flex-basis: 50%;
        }

        .section {
            &:nth-of-type(1) {
                align-items: center;
            }

            &:not(:nth-of-type(1)) {
                flex-basis: calc(50% - 2em);
            }
        }

        .social {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }

}



@media (max-width: 580px) {
    .footer {
        justify-content: flex-start;

        // display: block;
        .section {
            a:nth-of-type(1) {
                margin-bottom: 10px;
            }

            &:nth-of-type(1) {
                grid-column: 1 / -1;
                justify-self: center;
            }

            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: 1 / -1;
            }

            &.social {
                flex-wrap: wrap;
            }
        }
    }

}